pytest
selenium
jsonpickle
requests
import os
from selenium import webdriver
import webdriver_manager.chrome
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
import random
import time